@import 'vars';

body{
  font-family: $font-family;
  background-color: $background-color;
}

h3{
  font-family: $font-family2;
  font-size: 30px;
  margin-bottom: 20px;
}


nav ul{
  list-style: none;
}
nav ul a {
  text-decoration: none;
  border: 2px solid black;
  padding: 15px;
  border-radius: 20px;
}

nav ul a:hover{
  color: rgb(10, 119, 16);


}
nav {
  background-color: grey;
  border: 2px solid grey;
  width: 100%;
  font-size: 30PX;
  padding: 25px;
}

// Intro page styling

.intro {
  h1{
    font-family: $font-family2;
    color:  blue;
  }
  ul{
    list-style: none;
    font-size: 20px;
    font-weight: 700;
  }
  li{
    border: 2px solid black;
    width: 10%;
    margin: 5%;
    padding: 10%;
    border-radius: 50%;
    background-color: purple;
    text-align: center;
  }
  button{
    font-size: 18px;
    padding: 2.5% 35% 2.5% 35%;
    border-radius: 10px;
    background-color: grey;
  }

}