nav ul{
  display: flex;
  justify-content: space-around;
}

//About Us layout styling
@media only screen and (min-width: 780px){
  .profiles{
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  .pics{
    margin-right: 20px;
  }
}

//Main styling layout