@import 'vars';
// About Us styling 

.pics{
  border-radius: 60%;
}

.emotion-container {
  text-align: center;
  padding-top: 50px;
  margin-bottom: 50px;
}
.emotion-container img {
  width: 200px;
  height: 200px;
}