@import url('https://fonts.googleapis.com/css?family=Fontdiner+Swanky|Lemonada|Luckiest+Guy|Nosifer|Open+Sans|Permanent+Marker|Russo+One|Sigmar+One');


$background-color : #3ef8aba1;
$font-family-intro: 'Permanent Marker', cursive;
$font-family-happy-nav: 'Luckiest Guy', cursive;
$font-family-nav-default: 'Russo One', sans-serif;
$font-family-meh: 'Sigmar One', cursive;
$font-family-happy: 'Fontdiner Swanky', cursive;
$font-family-sad: 'Nosifer', cursive;
$font-family: 'Open Sans', sans-serif;

$background-color-sad-body2 : #345467;
$background-color-sad-font : #101442;
$background-color-sad-body : #1f6b65;
$background-color-sad-font-hover : #393551;
$background-color-sad-nav-back : #1d4e7a;

$background-color-happy-nav-back : #446eb6;
$background-color-happy-font-hover : #ecd714;
$background-color-happy-body2 : #a7b11e;
$background-color-happy-font : #f2a953;
$background-color-happy-body : #aaaaaa;

$background-color-meh-font-hover : #faffc4;
$background-color-meh-body2 : #00687b;
$background-color-meh-body : #0a4770;
$background-color-meh-nav-back : #28177d;
$background-color-meh-font : #fffd59;
